nextflow.enable.dsl=2

manifest {
  name        = 'mag-ont'
  description = 'Automation of metagenome assembly and binning with support for Oxford Nanopore reads'
  mainScript  = 'main.nf'
}

params {

  // print CLI help message
  help           = false

  // workflow parameters
  skip_qc        = false
  skip_medaka    = false
  skip_nanoplot  = false
  skip_porechop  = false

  skip_maxbin    = false
  skip_concoct   = false
  skip_semibin   = false

  // modules parameters
  gtdbtk_db         = ''
  chopper_minlength = 1000
  chopper_minq      = 10
  maxbin_minlen     = 2500

  // containers
  bwamem2_container      = 'quay.io/biocontainers/bwa-mem2:2.3--he70b90d_0'
  checkm_container       = 'quay.io/biocontainers/checkm-genome:1.2.2--pyhdfd78af_1'
  chopper_container      = 'quay.io/biocontainers/chopper:0.9.0--hdcf5f25_0'
  comebin_container      = 'quay.io/biocontainers/comebin:1.0.4--hdfd78af_0'
  concoct_container      = 'quay.io/biocontainers/concoct:1.0.0--py27h985cbd6_6'
  coreutils_container    = 'quay.io/biocontainers/coreutils:9.5'
  coverm_container       = 'quay.io/biocontainers/coverm:0.7.0--hcb7b614_4'
  dastool_container      = 'quay.io/biocontainers/das_tool:1.1.6--r42hdfd78af_0'
  flye_container         = 'quay.io/biocontainers/flye:2.9.6--py310h275bdba_0'
  gtdbtk_container       = 'quay.io/biocontainers/gtdbtk:2.6.1--pyh1f0d9b5_2'
  maxbin_container       = 'quay.io/biocontainers/maxbin2:2.2.7--hdbdd923_5'
  medaka_container       = 'quay.io/biocontainers/medaka:2.1.1--py310h5713b5a_0'
  metabat_container      = 'quay.io/biocontainers/metabat2:2.15--h4da6f23_2'
  minimap_container      = 'quay.io/biocontainers/minimap2:2.30--h577a1d6_0'
  nanoplot_container     = 'quay.io/biocontainers/nanoplot:1.46.1--pyhdfd78af_0'
  pandas_container       = 'quay.io/biocontainers/pandas:0.23.4--py36hf8a1672_0'
  porechop_abi_container = 'quay.io/biocontainers/porechop_abi:0.5.1--py39h475c85d_0'
  samtools_container     = 'quay.io/biocontainers/samtools:1.18--h50ea8bc_1'
  semibin_container      = 'jinlongru/semibin2:v2.2.0.0'
  seqkit_container       = 'quay.io/biocontainers/seqkit:2.5.1--h9ee0642_0'

}

profiles {

  docker {
    docker.enabled         = true
    conda.enabled          = false
    singularity.enabled    = false
    apptainer.enabled      = false
    docker.runOptions      = '-u $(id -u):$(id -g)'
  }
  singularity {
    singularity.enabled    = true
    singularity.autoMounts = true
    conda.enabled          = false
    apptainer.enabled      = false
    docker.enabled         = false
    singularity.cacheDir   = "${projectDir}/singularity_cache"
  }
  apptainer {
    apptainer.enabled      = true
    apptainer.autoMounts   = true
    conda.enabled          = false
    docker.enabled         = false
    singularity.enabled    = false
    singularity.cacheDir   = "${projectDir}/apptainer_cache"
  }
  hpc {
    process.cpus = 20
  }
  local {
    process.cpus = 8
  }
  test {
    process.cpus = 1
  }

}
