nextflow.enable.dsl=2

manifest {
  name = 'mag-ont'
  description = 'Automation of metagenome assembly and binning with Oxford Nanopore reads'
  mainScript = 'main.nf'
}

params {

  help = false
  skip_qc = false
  gtdbtk_db = ''

  checkm_container       = 'biocontainers/checkm-genome:1.2.2--pyhdfd78af_1'
  chopper_container      = 'biocontainers/chopper:0.9.0--hdcf5f25_0'
  dastool_container      = 'biocontainers/das_tool:1.1.6--r42hdfd78af_0'
  flye_container         = 'biocontainers/flye:2.9.6--py310h275bdba_0'
  gtdbtk_container       = 'biocontainers/gtdbtk:2.3.2--pyhdfd78af_0'
  maxbin_container       = 'biocontainers/maxbin2:2.2.7--hdbdd923_5'
  medaka_container       = 'biocontainers/medaka:2.0.1--py39hf77f13f_0'
  metabat_container      = 'biocontainers/metabat2:2.15--h4da6f23_2'
  minimap_container      = 'biocontainers/minimap2:2.28--he4a0461_0'
  nanoplot_container     = 'biocontainers/nanoplot:1.46.1--pyhdfd78af_0'
  porechop_abi_container = 'biocontainers/porechop_abi:0.5.1--py39h475c85d_0'
  samtools_container     = 'biocontainers/samtools:1.18--h50ea8bc_1'
  seqkit_container       = 'biocontainers/seqkit:2.5.1--h9ee0642_0'

}

profiles {

  test {
    includeConfig 'conf/test.config'
  }
  docker {
    docker.enabled         = true
    conda.enabled          = false
    singularity.enabled    = false
    apptainer.enabled      = false
    docker.runOptions      = '-u $(id -u):$(id -g)'
  }
  singularity {
    singularity.enabled    = true
    singularity.autoMounts = true
    conda.enabled          = false
    apptainer.enabled      = false
    docker.enabled         = false
    singularity.cacheDir   = 'singularity_cache'
  }
  apptainer {
    apptainer.enabled      = true
    apptainer.autoMounts   = true
    conda.enabled          = false
    docker.enabled         = false
    singularity.enabled    = false
    singularity.cacheDir   = 'apptainer_cache'
  }
  hpc {
    process.cpus = 20
  }
  local {
    process.cpus = 8
  }
}

apptainer.registry = 'quay.io'
docker.registry = 'quay.io'
singularity.registry = 'quay.io'
