/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

params {
    // The test data of this pipeline lives in the repository itself
    modules_testdata_base_path   = "${projectDir}/tests/data/"
    pipelines_testdata_base_path = "${projectDir}/tests/data/"
}

// Fixes S3 access issues on self-hosted runners
aws.client.anonymous = true
