/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for the Digital Research Alliance of Canada clusters
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Use as follows:
        nextflow run dsamoht/mag-ont -profile drac,apptainer --input samplesheet.csv --outdir <OUTDIR>

    Set your allocation with --clusterOptions or by editing the account below.
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'DRAC profile'
    config_profile_description = 'Digital Research Alliance of Canada clusters (slurm)'
    config_profile_url         = 'https://docs.alliancecan.ca'
}

process {
    executor       = 'slurm'
    clusterOptions = '--account=def-PI' // modify this line
    errorStrategy  = { task.exitStatus in ((130..145) + 104 + (175..177)) ? 'retry' : 'finish' }
    maxRetries     = 3
    maxErrors      = '-1'
    time           = { 24.h * task.attempt }

    withLabel: 'process_single' {
        cpus   = { 1                    }
        memory = { 8.GB  * task.attempt }
    }
    withLabel: 'process_low' {
        cpus   = { 4     * task.attempt }
        memory = { 16.GB * task.attempt }
    }
    withLabel: 'process_medium' {
        cpus   = { 16    * task.attempt }
        memory = { 64.GB * task.attempt }
    }
    withLabel: 'process_high' {
        cpus   = 20
        memory = { 128.GB * task.attempt }
    }
    withLabel: 'process_gpu' {
        cpus             = 20
        memory           = { 128.GB * task.attempt }
        clusterOptions   = '--account=def-PI --gres=gpu:1' // modify this line
        containerOptions = '--nv'
        accelerator      = 1
    }
}
