process {
    executor       = 'slurm'
    clusterOptions = '--account=def-PI' // modify this line
    errorStrategy  = { task.exitStatus in ((130..145) + 104 + 175) ? 'retry' : 'finish' }
    maxRetries     = 3
    maxErrors      = '-1'
    time           = { 24.h * task.attempt }

    withLabel: 'small' {
        cpus     = { 4 * task.attempt } 
        memory   = { 16.GB * task.attempt } 
    }
    withLabel: 'medium' {
        cpus   = { 16 * task.attempt }
        memory = { 64.GB * task.attempt }
    }
    withLabel: 'large' {
        cpus   = { 32 * task.attempt }
        memory = { 128.GB * task.attempt }
    }
    withLabel: 'large_gpu' {
        cpus             = { 32 * task.attempt }
        memory           = { 128.GB * task.attempt }
        clusterOptions   = '--account=def-PI --gres=gpu:1' // modify this line
        containerOptions = '--nv'
     }
}
