process {
    executor       = 'slurm'
    clusterOptions = '--account=def-PI'
    time           = '24.h'

    withLabel: 'small' {
        cpus     = 4
        memory   = '16.GB'
    }
    withLabel: 'medium' {
        cpus   = 16
        memory = '64.GB'
    }
    withLabel: 'large' {
        cpus   = 32
        memory = '128.GB'
    }
    withLabel: 'large_gpu' {
        cpus             = 32
        memory           = '128.GB'
        clusterOptions   = '--account=def-PI --gres=gpu:1'
        containerOptions = '--nv'
     }
}
