process {
    executor      = 'local'
    cpus          = 1
    errorStrategy = 'ignore'
}

params {
    input         = "${projectDir}/tests/data/samplesheet_test.csv"
    outdir        = "${projectDir}/tests/mag-ont_outdir"
    skip_porechop = true
    skip_nanoplot = true
    skip_medaka   = true
    skip_semibin  = true
    skip_bin_qa   = false
    skip_gtdbtk   = true
}

outputDir = params.outdir
